
@{
    ViewData["Title"] = "Our Story";
}

<main>
    <section id="OurStoryInformation">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="title">Our Story</div>
                </div>
                <div class="col-lg-7">
                    <pre class="text-information">
                In 2002, the two bartenders Jens Hasenbein and Helmut Adam met at a
                bar in Berlin. The idea and concept for The Fruity Mixologist - the 
                magazine for bar culture - emerged from theirexchange on technical
                topics. Since then a lot has happened.

                The first issue of the magazine was published in March 2003, and in the
                years that followed had a decisive impact on the scene,which was still
                young at the time. Worn by graphic designers,authors, illustrators and
                columnists, all of whom had one or twolegs behind the counters of the
                bar scene and who, with their passion and creativity, gave a face and a
                voice to a hitherto insignificant industry.

                The Fruity Mixologist was literally born in the bar. For the love of bar
                culture and the world of drinks.

                The magazine quickly gained national recognition and is now read by
                bartenders and specialist readers as well as by connoisseurs and 
                cocktail lovers. Bar culture has become socially acceptable.Since 2020,
                The Fruity Mixologist has been published by Meininger Verlag.
              </pre>
                </div>
            </div>
        </div>
    </section>

    <section id="image">
        <div class="container">
            <div class="row"></div>
        </div>
    </section>

    <section id="FAQ">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text">
                        <div class="title">
                            What can you expect from The Fruity Mixologist?
                        </div>
                        <pre class="descOur">
                  In addition to the best answers to the questions of knowledge-
                  thirsty bartenders and connoisseurs on topics related to spirits,
                  product knowledge, cocktail recipes and bar ideas, The Fruity
                  Mixologist magazine and also on the digital channels always deal
                  with the questions: what moves the industry? Who are the
                  protagonists in front of and behind the counter?

                  The Fruity Mixologist sheds light on the culture,history and lifestyle
                  around the topic of bar & cocktails.
                </pre>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="text">
                        <div class="title" >The Fruity Mixologist platform</div>
                        <pre class="descOur">
                  The Fruity Mixologist is more than a magazine. The Fruity Mixologist
                  is a platform, a network of bartenders, a knowledge database
                  about bars, cocktails and spirits.

                  Our print magazine forms the basis for a world consisting of a
                  high-reach online magazine, which makes the bar world tangible
                  with narrative journalism and serves the bar world fresh news
                  every day.

                  Fixed instances also include The Fruity Mixologist TASTE FORUM, our
                  annual The Fruity Mixologist BAR AWARDS and the MADE IN GSA
                  Competition. In addition, there are our newsletters and, last but not
                  least, our communicative social media channels.
                </pre>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

