@font-face {
  font-family: "VisbyBold";
  src: url("../font/VisbyBold.otf");
}
@font-face {
  font-family: "Visby";
  src: url("../font/VisbyMedium.otf");
}

body {
  main {
    #cocktailEvents {
      padding-top: 30px;
      .text {
        .title {
          font-family: VisbyBold;
          font-weight: 500;
          font-size: 40px;
          line-height: 56px;
          color: #f2f2f2;
          width: 496px;
          height: 112px;
        }
        .desc {
          width: 496px;
          height: 166px;
          font-family: Visby;
          font-family: "Visby";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 26px;
          color: #c9c9c9;
        }
      }
      .imagee {
        margin-left: 31px;
        img {
          border-radius: 10px;
        }
      }
    }
    #Events {
      padding-top: 150px;
      .eventDateNamePhoto {
        .eventnumber {
          .number {
            font-family: VisbyBold;
            font-size: 72px;
            line-height: 92px;
            display: block;
            color: #f2f2f2;
          }
          .event {
            font-size: 20px;
            line-height: 22px;
            color: #e8e8e8;
          }
        }
      }
      .eventImages {
        .image {
          width: 496px;
          img {
            padding-right: 25px;
          }
        }
      }
      .eventDateName {
        position: relative;
        width: 204px;
        top: 80px;
        z-index: 1;
        left: 268px;
      }
      .date {
        width: 112px;
        height: 40px;

        span {
          font-size: 16px;
          line-height: 20px;
          color: #e8e8e8;
        }
      }
      .eventName {
        font-family: VisbyBold;
        font-size: 40px;
        line-height: 56px;
        color: #f2f2f2;
        padding-top: 20px;
      }
    }

    #DjPlayMusic {
      padding-top: 150px;
      //   .DjImg {
      //     width: 496px;
      //     height: 632px;
      //   }
      .playMusic {
        position: relative;
        top: 125px;
        .musicName {
          width: 270px;
          height: 60px;
          span {
            font-family: VisbyBold;
            font-size: 24px;
            line-height: 30px;
            color: #f2f2f2;
          }
        }
        .music {
          margin-top: 100px;
          audio {
            display: none;
          }

          #music-player {
            background-image: url(../photos/DjMusic/Mask\ group.png);
            background-size: cover;
            width: 205px;
            height: 41px;
          }

          #play-button {
            background-image: url(../photos/DjMusic/Default.png);
            width: 40px;
            height: 40px;
            background-repeat: no-repeat;
            cursor: pointer;
            background-size: contain;
            margin-left: -80px;
          }
        }
      }
      .information {
        position: relative;
        top: 150px;
        .title {
          width: 254px;
          height: 56px;
          font-size: 24px;
          line-height: 28px;
          color: #f2f2f2;
          margin-bottom: 20px;
        }
        .desc {
          width: 285px;
          height: 198px;
          font-size: 14px;
          line-height: 22px;
          color: #e8e8e8;
        }
        .date {
          margin-top: 20px;
          span {
            padding-left: 10px;
            letter-spacing: 2px;
          }
        }
      }
    }

    #Nextevent {
        padding-top: 120px;
      .header {
        font-size: 26px;
        line-height: 26px;
        color: #f2f2f2;
        padding-bottom: 30px;
      }
        .nextEvent {
          .dateAddress {
            display: flex;
           margin-top: 10px;
            .date {
              width: 80px;
              height: 60px;

              font-family: "Visby";
              font-style: normal;
              font-weight: 500;
              font-size: 20px;
              line-height: 30px;
              /* or 150% */

              text-align: center;

              /* Natural/0 */

              color: #f2f2f2;
              border-right: 1px solid #f2f2f2;
              padding-right: 15px;
            }
            .addr {
              width: 270px;
              height: 60px;
              font-family: "Visby";
              font-style: normal;
              font-weight: 500;
              font-size: 20px;
              line-height: 30px;
              /* or 150% */

              /* Natural/0 */

              color: #f2f2f2;
              padding-left: 20px;
            }
          }
        }
      }
    }
    @media only screen and (min-width: 390px) and (max-width: 820px) {
      main {
        #cocktailEvents {
          padding-top: 30px;
          .text {
            .title {
              width: 100%; 
              height: auto; 
            }
            .desc {
              width: 100%; 
              height: auto;
            }
          }
          .imagee {
            margin-left: 0px !important;
            img {
              border-radius: 10px;
            }
          }
        }
        #Events {
          padding-top: 150px;
          .eventDateNamePhoto {
            .eventnumber {
              .number {
                display: inline; 
              }
              .event {
                font-size: 16px;
              }
            }
          }
          .eventImages {
            .image {
              width: 288px;
              img {
                padding-right: 0; 
              }
            }
          }
          .eventDateName {
            position: relative;
            width: 100%;
            top: 0; 
            left: 0; 
          }
          .date {
            width: 100%; 
            height: auto; 
          }
          .eventName {
            padding-top: 0; 
          }
        }
        #DjPlayMusic {
          padding-top: 150px;
          .playMusic {
            position: relative;
            top: 0; 
            margin-bottom: 30px;
            .musicName {
              width: 100%;
              margin-bottom: 25px;
            }
            .music {
              margin-top: 0; 
              #music-player {
                width: 100%;
              }
              #play-button {
                margin-left: 0; 
              }
            }
          }
          .information {
            position: relative;
            top: 0; 
            .title {
              width: 100%; 
            }
            .desc {
              width: 100%; 
            }
            .date {
              margin-top: 0; 
            }
          }
        }
        #Nextevent {
          padding-top: 120px;
          .header {
            font-size: 26px;
            line-height: 26px;
            color: #f2f2f2;
            padding-bottom: 30px;
          }
          .nextEvent {
            .dateAddress {
              display: block; 
              margin-top: 0; 
              .date {
                width: 100%; 
                border-right: none;
                padding-right: 0; 
              }
              .addr {
                width: 100%; 
                padding-left: 0; 
              }
            }
          }
        }
      }
    }
    
    #Partners {
        padding-top: 120px;
        .text {
          font-size: 44px;
          line-height: 44px;
          color: #fefefe;
        }
        .partnersImg {
          .partner {
            width: 164px;
            height: 107px;
            margin-left: 70px;
            img {
              width: 100%;
            }
          }
        }
      }
  
    
  }
