@model MyAccountVM
@{
    ViewData["Title"] = "ForgotPassword";
}

<main>
    <section id="ForgotPassword">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="image">
                        <img width="100%"
                             src="~/assets/photos/myAccount/photo-1514362545857-3bc16c4c7d1b.jpeg"
                             alt="" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="forgot">
                        <div class="center" style="margin-left: 65px">
                            <div class="title">Forgot Your Password?</div>
                            <p>
                                We get it, stuff happens. Just enter your email address below and we'll send you a link to reset your password!

                                Email
                            </p>
                            <form asp-controller="Account" asp-action="Passowrd" method="post">
                                <label asp-for="Email">Email</label><br />
                                <input asp-for="Email" 
                                       placeholder="Email"
                                        />
                                <br />
                                <button type="submit">
                                    <a>Reset Password</a>
                                </button>
                            </form>
                            <div class="haveAccount">
                                <span>
                                    Don’t have an account?
                                    <a href="#">Register</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>