@model MyAccountVM
@{
    ViewData["Title"] = "ResetPassword";
}

<main>
    <section id="ResetPassword">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="image">
                        <img width="100%"
                             src="~/assets/photos/myAccount/reset.png"
                             alt="" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="reset">
                        <div class="center" style="margin-left: 65px">
                            <div class="title">Choose a password</div>
                            <form asp-controller="Account" asp-action="ResetPassword" enctype="multipart/form-data" method="post">
                                <label asp-for="Email">Email</label><br />
                                <input asp-for="Email"
                                       placeholder="Email"/>
                                <span asp-validation-for="Email" class="text-danger"></span>
                                <br />
                                <label asp-for="Password">Password</label><br />
                                <input asp-for="Password"
                                       placeholder="*********"/>
                                <span asp-validation-for="Password" class="text-danger"></span>
                                <br />
                                <label asp-for="ConfirmPassword">Confirm Password</label><br />
                                <input asp-for="ConfirmPassword"
                                       placeholder="*********"/>
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                <br />
                                <button type="submit">
                                   Save
                                </button>
                                <input type="hidden" asp-for="Token" value="@Model.Token" />
                                <input type="hidden" asp-for="Email" value="@Model.Email" />
                            </form> 
                            <div class="haveAccount">
                                <span>
                                    Don’t have an account?
                                    <a asp-controller="Account" asp-action="Register">Register</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
