
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/assets/css/StyleSheet.css" />
    <title>Error</title>
</head>
<body>
    <main>
        <section id="pageerror">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="image">
                            <img src="https://demo2.themelexus.com/liquory/wp-content/themes/liquory/assets/images/404/404.jpg" alt="404 Not Fount Image">
                        </div>
                    </div>
                    <div class="col-lg-6 title-div">
                        <div class="title">
                            <h1>404 Error</h1>
                            <h3>We can’t find the page you are looking for</h3>
                            <div>
                                <a href="">Go Back HomePage</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>
